@import "../../index.scss";

.home {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: themed("bgSoft");
    flex: 3;

    // Story section style
    .stories {
      // width: 80%;
      width: 95%;
      display: flex;
      // align-items: center;
      gap: 0.625rem;
      // height: 15.625rem;
      margin-top: 1rem;
      margin-bottom: 1.875rem;
      height: 7.7rem;
      justify-content: space-between;
      overflow: hidden;

      @include tab {
        height: 15.625rem;
        margin-bottom: 1.875rem;
      }

      .story {
        flex: 1;
        overflow: hidden;
        position: relative;
        border-radius: 0.625rem;
        width: 3.7rem;
        height: 7.7rem;
        cursor: pointer;

        @include tab {
          border-radius: 0.625rem;
          height: 15.625rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        span {
          position: absolute;
          bottom: 0.625rem;
          left: 0.625rem;
          color: rgb(255, 255, 255);
          font-weight: 500;
          text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(74, 73, 73, 0.7);

          @include mobile {
            font-size: 0.5rem;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;
          font-size: 1.5rem;
          left: 10%;
          right: 0;
          top: 45%;
          bottom: 0;
          padding: none;
          font-weight: 700;
          position: absolute;
          border-radius: 50%;
          background-color: rgb(160, 136, 254);
          border: none;
          cursor: pointer;

          color: rgb(255, 255, 255);

          @include tab {
            width: 2.7rem;
            height: 2.7rem;
            font-size: 2.3rem;
            left: 10%;
            bottom: 0;
            top: 70%;
          }

          @include tab {
            top: 62%;
          }
        }
      }
    }
  }

  //Share post Content style
  .Sharepost-Wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;

    @include tab {
      width: 95%;
    }
    @include surface-Pro {
      width: 95%;
    }

    @include web {
      width: 95%;
    }

    .sharePost {
      @include themify($themes) {
        // flex: 5;
        display: flex;
        align-items: center;
        width: 100%;
        height: max-content;
        margin: 1.875rem 0;
        border-radius: 0.625rem;
        background-color: themed("bg");
        box-shadow: rgba(159, 159, 159, 0.3);
        -webkit-box-shadow: 0.0625rem 0.0625rem 0.25rem 0.0625rem
          rgba(159, 159, 159, 0.3);
        -moz-box-shadow: 0.0625rem 0.0625rem 0.25rem 0.0625rem
          rgba(159, 159, 159, 0.3);
        //  background-color: themed("bgSoft");

        .sharePostContainer {
          width: 100%;
          padding: 0.625rem;
          .preview-media {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
              width: 50%;
              height: max-content;
              object-fit: cover;
              border-radius: 0.2rem;
            }
            video {
              width: 50%;
              height: max-content;
              object-fit: cover;
              border-radius: 0.2rem;
            }
            .icon-btn {
              width: max-content;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              border: none;
              padding: 5px;
              position: absolute;
              top: 5%;
              right: 26%;
              cursor: pointer;
              background-color: rgba(58, 57, 57, 0.5);

              .icon {
                color: white;
                font-size: 1.5rem;
              }
            }
          }
          .textarea {
            display: flex;
            align-items: center;
            height: max-content;
            margin: 0.625rem 0.3rem;
            // border: 2px solid red;

            img {
              width: 2.2rem;
              height: 2.2rem;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 0.625rem;
              cursor: pointer;
              @include tab {
                width: 3rem;
                height: 3rem;
              }
              @include surface-Pro {
                width: 3rem;
                height: 3rem;
              }
              @include web {
                width: 3rem;
                height: 3rem;
              }
              @include web-large {
                width: 3rem;
                height: 3rem;
              }
            }
            .input-container {
              width: 100%;
              height: 100%;
              display: flex;
              // justify-content: space-between;
              gap: 20px;
              align-items: center;
              // border: 2px solid red;

              .text-area {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 70%;
                gap: 15px;
                height: max-content;

                @include surface-duo {
                  font-size: 1.2rem;
                  width: 80%;
                }
                @include tab {
                  font-size: 1.3rem;
                  width: 80%;
                }
                @include surface-Pro {
                  font-size: 1rem;
                  width: 80%;
                }
                @include web {
                  font-size: 1rem;
                  width: 85%;
                }
                @include web-medium {
                  font-size: 1rem;
                  width: 85%;
                }
                textarea {
                  border: none;
                  width: 100%;
                  height: 100%;
                  border-radius: 0.7rem;
                  padding: 0.625rem;
                  background-color: themed("bgSoft");
                  color: themed("textColor");
                  font-family: system-ui, -apple-system, BlinkMacSystemFont,
                    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                    "Helvetica Neue", sans-serif;
                  overflow-y: auto;
                  @include surface-duo {
                    font-size: 1.1rem;
                  }
                  @include tab {
                    font-size: 1.1rem;
                  }
                  @include surface-Pro {
                    font-size: 1.1rem;
                  }
                  @include web {
                    font-size: 1.1rem;
                  }
                  @include web-medium {
                    font-size: 1.1rem;
                  }

                  &::-webkit-scrollbar {
                    display: none;
                  }
                }
                textarea:focus {
                  outline: none;
                }
              }

              .SendButton {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 2rem;
                font-weight: 600;
                border: none;
                padding: 0.4375rem;
                border-radius: 0.3rem;
                background-color: themed("btnColor");
                color: white;
                cursor: pointer;
                @include tab {
                  width: 5rem;
                  height: 2.6rem;
                }
                @include surface-Pro {
                  width: 5rem;
                  height: 2.6rem;
                }
                @include web {
                  width: 5rem;
                  height: 2.6rem;
                }
                @include web-medium {
                  width: 5rem;
                  height: 2.6rem;
                }
              }

              .SendButton.loading {
                background-color: rgb(160, 136, 254);
                cursor: not-allowed;
              }
              .loader {
                display: flex;
                row-gap: 5px;
                .dot {
                  width: 8px;
                  height: 8px;
                  background-color: white;
                  border-radius: 50%;
                  animation: blink 1.2s infinite ease-in-out;
                }
                .dot:nth-child(2) {
                  animation-delay: 0.2s;
                }
                .dot:nth-child(3) {
                  animation-delay: 0.4s;
                }
              }
              @keyframes blink {
                0%,
                80%,
                100% {
                  opacity: 0;
                }
                40% {
                  opacity: 1;
                }
              }
            }

            // .progressbar {
            //   padding: 0.6rem;
            //   color: rgb(160, 136, 254);
            //   font-size: 1rem;
            //   border-radius: 50%;
            // }
          }

          hr {
            margin: 0.625rem 1.25rem;
          }

          .functionarea {
            // width: max-content;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0.3rem;
            padding: 0.3rem;

            .postOptions {
              display: flex;
              gap: 1rem;

              @include surface-duo {
                gap: 1.375rem;
                margin: 0 1.25rem;
              }
              @include tab {
                gap: 1.7rem;
                margin: 0 1.25rem;
              }
              @include web {
                gap: 1.7rem;
                margin: 0 1.25rem;
              }
              .postOption {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 0.3rem;
                font-size: 1rem;
                &:nth-child(3) {
                  display: none;
                  color: rgb(255, 196, 46);

                  @include web {
                    display: flex;
                  }
                  @include surface-duo {
                    display: flex;
                  }
                  @include tab {
                    display: flex;
                  }
                }

                .optionIcon {
                  font-size: 1rem;
                  cursor: pointer;

                  @include surface-duo {
                    font-size: 1.2rem;
                  }
                  @include tab {
                    font-size: 1.3rem;
                  }
                  @include surface-Pro {
                    font-size: 1.3rem;
                  }
                  @include web {
                    font-size: 1.3rem;
                  }
                }
                span {
                  display: flex;
                  justify-items: center;
                  font-size: 0.8rem;
                  font-weight: 500;
                  color: themed("textColor");

                  @include surface-duo {
                    font-size: 1rem;
                  }
                  @include tab {
                    font-size: 1rem;
                  }
                  @include surface-Pro {
                    font-size: 1rem;
                  }

                  @include web {
                    font-size: 1rem;
                    color: themed("textColor");
                  }
                }
              }
              .postOption:hover {
                border-radius: 0.3rem;
                background-color: themed("bgSoft");
              }
            }
          }
        }
      }
    }
  }

  // Timeline Post Content style
  .TimeLine,
  .accountuser-timeline {
    @include themify($themes) {
      width: 90%;
      display: flex;
      flex-direction: column;
      @include tab {
        width: 95%;
      }
      @include surface-Pro {
        width: 95%;
      }

      @include web {
        width: 95%;
      }
    }
  }
}

//Timeline no Post Section
.Nopost {
  @include themify($themes) {
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: themed("bgSoft");

    .Reload {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: themed("textColor");

      .Reload-Btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 9rem;
        height: 2.7rem;
        border-radius: 0.3rem;
        border: none;
        background-color: themed("btnColor");
        color: white;
        font-size: 2rem;
        cursor: pointer;
      }
    }
  }
}

//post style
.post {
  @include themify($themes) {
    border-radius: 0.5rem;
    background-color: themed("bg");
    color: themed("textColor");
    box-shadow: rgba(159, 159, 159, 0.3);
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.25rem 0.0625rem
      rgba(159, 159, 159, 0.3);
    -moz-box-shadow: 0.0625rem 0.0625rem 0.25rem 0.0625rem
      rgba(159, 159, 159, 0.3);
    margin-bottom: 1.5rem;

    .container {
      padding: 1.25rem 1.25rem 1.25rem 1rem;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.25rem;
          // border: 2px solid green;
          padding: 0 0.3rem 0 0;

          img {
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            object-fit: cover;
            @include tab {
              width: 3rem;
              height: 3rem;
            }
            @include surface-Pro {
              width: 3rem;
              height: 3rem;
            }
            @include web {
              width: 3rem;
              height: 3rem;
            }
            @include web-large {
              width: 3rem;
              height: 3rem;
            }
          }

          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 500;
              text-transform: capitalize;
            }

            .date {
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 1.25rem 0;
        .desc-wrapper {
          width: 100%;
          height: max-content;
          p {
            width: 100%;
            font-size: 1.1rem;
          }
        }
        .Media-wrapper {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
          }
          .Desc-video-container {
            width: 100%;
            position: relative;
            video {
              max-width: 100%;
              height: auto;
              object-fit: cover;
            }
            .controllers {
              width: 100%;
              display: flex;
              gap: 5px;
              padding: 1px 5px;
              position: absolute;
              bottom: 2%;
              visibility: hidden;
              background-color: rgba(58, 57, 57, 0.5);
              transition: all 0.3s ease-in-out;
              .play-pause-container {
                width: 80%;
                display: flex;
                gap: 5px;
                .icon-btn {
                  width: max-content;
                  display: flex;
                  align-items: center;
                  border: none;
                  background-color: transparent;
                  .icon {
                    font-size: 1rem;
                    color: white;
                  }
                }
                .progress-bar-container {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  .progress-bar {
                    display: flex;
                    width: 80%;
                    height: 4px;
                    border-radius: 2px;
                    cursor: pointer;
                  }

                  .time-display {
                    display: flex;
                    align-items: center;
                    p {
                      color: white;
                    }
                  }
                }
              }
              .volume-control-container {
                display: flex;
                align-items: center;
                width: 20%;
                display: flex;
                .icon-btn {
                  width: max-content;
                  display: flex;
                  align-items: center;
                  border: none;
                  background-color: transparent;
                  .icon {
                    font-size: 1rem;
                    color: white;
                  }
                }
                .volume-slider {
                  width: 80%;
                  display: flex;
                  align-items: center;
                  height: 4px;
                }
              }
            }
          }
          .Desc-video-container:hover {
            .controllers {
              visibility: visible;
            }
          }
        }
      }
    }
    .info {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      .item {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        font-size: 1.1rem;
        .icon {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

//Edit post
.edit-post-wrapper {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: themed("trans-background");
    z-index: 999;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);

    .Edit-post-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 3rem;
      border-radius: 0.5rem;
      width: 80%;
      height: 20rem;
      gap: 20px;
      background-color: themed("bg");
      box-shadow: rgba(159, 159, 159, 0.3);
      -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
      -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);

      @include surface-duo {
        width: 60%;

        border-radius: 0.5rem;
      }
      @include tab {
        width: 50%;
        border-radius: 0.5rem;
      }
      @include surface-Pro {
        width: 50%;
        border-radius: 0.5rem;
      }

      @include web {
        width: 40%;
        border-radius: 0.5rem;
      }
      @include web-medium {
        width: 45%;
        border-radius: 0.5rem;
      }

      .Edit-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        gap: 15px;
        height: max-content;
        // border: 2px solid rgb(201, 17, 17);
        @include surface-duo {
          font-size: 1.2rem;
          width: 80%;
        }
        @include tab {
          font-size: 1.3rem;
          width: 80%;
        }
        @include surface-Pro {
          font-size: 1rem;
          width: 80%;
        }
        @include web {
          font-size: 1rem;
          width: 85%;
        }
        @include web-medium {
          font-size: 1rem;
          width: 85%;
        }
        textarea {
          border: none;
          width: 100%;
          height: 100%;
          border-radius: 0.7rem;
          padding: 0.625rem;
          background-color: themed("bgSoft");
          color: themed("textColor");
          font-size: 1.1rem;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          overflow-y: auto;

          &::-webkit-scrollbar {
            display: none;
          }
        }
        textarea:focus {
          outline: none;
        }
      }
      .btns {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .SendButton {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%;
          height: 2rem;
          font-weight: 600;
          border: none;
          padding: 0.4375rem;
          border-radius: 0.3rem;
          background-color: themed("btnColor");
          color: white;
          cursor: pointer;
          @include surface-duo {
            width: 80%;
          }
          @include tab {
            width: 80%;
          }
          @include surface-Pro {
            width: 80%;
          }
          @include web {
            width: 85%;
          }
          @include web-medium {
            width: 85%;
          }
        }
      }
    }
  }
}
.edit-post-wrapper.active {
  visibility: visible;
  z-index: 999;
  transform: scale(1);
}

//Edit post
.delete-post-wrapper {
  @include themify($themes) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: themed("trans-background");
    z-index: 999;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);

    .Delete-post-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem 2rem;
      border-radius: 0.5rem;
      width: 40%;
      height: max-content;
      background-color: themed("bg");
      box-shadow: rgba(159, 159, 159, 0.3);
      -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
      -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);

      @include surface-duo {
        width: 40%;
      }
      @include tab {
        width: 40%;
      }
      @include surface-Pro {
        width: 35%;
      }
      @include web {
        width: 20%;
      }
      @include web-medium {
        width: 30%;
      }
      .btns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .SendButton {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%;
          height: 2rem;
          font-weight: 600;
          border: none;
          padding: 0.4375rem;
          border-radius: 0.3rem;
          background-color: themed("btnColor");
          color: white;
          cursor: pointer;
          @include surface-duo {
            width: 80%;
          }
          @include tab {
            width: 60%;
          }
          @include surface-Pro {
            width: 60%;
          }
          @include web {
            width: 40%;
          }
          @include web-medium {
            width: 40%;
          }
        }
      }
    }
  }
}
.delete-post-wrapper.active {
  visibility: visible;
  z-index: 999;
  transform: scale(1);
}

//Comment Content style
.comments {
  width: 100%;
  @include themify($themes) {
    .write {
      width: 100%;
      display: flex;
      align-items: center;
      // gap: 1.25rem;
      gap: 0.625rem;
      margin-top: 1.25rem;

      img {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        @include tab {
          width: 3rem;
          height: 3rem;
        }
        @include surface-Pro {
          width: 3rem;
          height: 3rem;
        }
        @include web {
          width: 3rem;
          height: 3rem;
        }
        @include web-large {
          width: 3rem;
          height: 3rem;
        }
      }
      .form {
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        textarea {
          width: 80%;
          height: 2.5rem;
          padding: 0.625rem;
          border-radius: 1rem;
          border: 0.0625rem solid themed("border");
          background-color: themed("bgSoft");
          color: themed("textColor");
          overflow-y: auto;

          @include surface-duo {
            width: 80%;
            height: 2.5rem;
          }
          @include tab {
            width: 80%;
            height: 2.5rem;
          }
          @include web {
            width: 80%;
            height: 2.5rem;
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
        textarea:focus {
          outline: none;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 2rem;
          border: none;
          background-color: themed("btnColor");
          color: white;
          font-weight: 600;
          padding: 0.625rem;
          cursor: pointer;
          border-radius: 0.7rem;
          @include tab {
            width: 5rem;
            height: 2.6rem;
          }
          @include surface-Pro {
            width: 5rem;
            height: 2.6rem;
          }
          @include web {
            width: 5rem;
            height: 2.6rem;
          }
          @include web-medium {
            width: 5rem;
            height: 2.6rem;
          }
        }
        .button.loading {
          background-color: rgb(160, 136, 254);
          cursor: not-allowed;
        }
        .loader {
          display: flex;
          row-gap: 5px;
          .dot {
            width: 8px;
            height: 8px;
            background-color: white;
            border-radius: 50%;
            animation: blink 1.2s infinite ease-in-out;
          }
          .dot:nth-child(2) {
            animation-delay: 0.2s;
          }
          .dot:nth-child(3) {
            animation-delay: 0.4s;
          }
        }
        @keyframes blink {
          0%,
          80%,
          100% {
            opacity: 0;
          }
          40% {
            opacity: 1;
          }
        }
      }
    }

    .comment-div {
      margin: 1.875rem 0;
      height: max-content;
      display: flex;
      justify-items: center;
      gap: 10px;

      .CommenterInfo {
        display: flex;
        gap: 15px;

        .userImage {
          width: max-content;
          height: 100%;
          display: flex;
          align-items: center;

          img {
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
            @include tab {
              width: 3rem;
              height: 3rem;
            }
            @include surface-Pro {
              width: 3rem;
              height: 3rem;
            }
            @include web {
              width: 3rem;
              height: 3rem;
            }
            @include web-large {
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
      .description {
        width: 50%;
        height: 100%;
        flex-wrap: wrap;
        height: max-content;
        border-radius: 1rem;
        border: 2px solid rgb(160, 136, 254);
        padding: 0.5rem;
        .Name-timeStamp {
          display: flex;
          font-weight: 500;
          align-items: center;
          .name {
            padding: 0 4px;
          }
        }
        .text {
          padding: 0 4px;
        }
      }
      .impressions {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        font-size: 1rem;
        span {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
      .time {
        flex: 1;
        font-size: 0.7rem;
      }
    }
  }
}
