@import "../../index.scss";

$header-height: 5rem;
$nav-height: 4rem;
$nav-padding: 0.5rem;

.header {
  @include themify($themes) {
    width: 100%;
    height: #{$header-height};
    background-color: themed("bg");
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;

    color: themed("textColor");
    @include tab {
      font-size: 3rem;
    }
    @include web {
      height: #{$header-height};
    }
    @include web-large {
      height: #{$header-height};
    }

    .nav {
      font-family: "Signika Negative", sans-serif;
      width: 97%;
      height: 4rem;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      padding: 0 $nav-padding 0 $nav-padding;
      @include tab {
        font-size: 3rem;
      }
      @include web {
        height: #{$nav-height};
      }
      @include web-large {
        height: #{$nav-height};
      }

      a {
        text-decoration: none;
        color: themed(logo);
      }
      a:active,
      a:focus {
        color: themed(logo);
      }
      span {
        flex: 1;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: themed(logo);
        @include tab {
          font-size: 1.7rem;
        }
        @include web {
          font-size: 1.7rem;
        }
        @include web-large {
          font-size: 1.7rem;
        }
      }

      //Left Buttons and Features
      .Left-buttons {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0.3125rem 0;
        // border: 2px solid red;
        @include tab {
          gap: 40px;
        }
        @include web {
          gap: 40px;
        }
        @include web-large {
          gap: 40px;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          padding: 0.3rem;
          border-radius: 0.4375rem;
          font-size: 1rem;
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: themed("textColor");
          @include surface-duo {
            font-size: 2rem;
            width: 3rem;
          }
          @include tab {
            font-size: 2rem;
            width: 3rem;
          }
          @include web {
            font-size: 2rem;
            width: 3rem;
          }
          @include web-large {
            font-size: 2rem;
            width: 3rem;
          }
        }

        button:hover {
          background-color: rgb(187, 187, 187);
        }

        .search-container {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 10;
          justify-content: center;
          align-items: center;

          &.visible {
            display: flex;
          }

          .search {
            display: flex;
            align-items: center;
            background-color: themed("bg");
            padding: 10px;
            border-radius: 4px;
            width: 90%;

            input {
              flex-grow: 1;
              padding: 0.5rem;
              border: 1px solid #ccc;
              border-radius: 4px;
              background-color: themed("bgSoft");
            }
            input:focus {
              outline: none;
            }

            .search-btn {
              background: none;
              border: none;
              cursor: pointer;
              color: inherit;
              padding: 0.5rem;
              font-size: 1.5rem;
            }

            .Aside {
              display: flex;
              justify-content: flex-end;
              width: 90%;
              background-color: themed("bg");
              position: absolute;
              margin: auto;
              top: 5rem;
              right: 0%;
              left: 0%;
              bottom: 0%;
              border-radius: 0.5rem;

              -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
              -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
              box-shadow: rgba(159, 159, 159, 0.3);
              visibility: hidden;

              // @include tab {
              //   left: -27%;
              // }
              // @include web {
              //   left: -27%;
              // }
              // @include web-large {
              //   left: -27%;
              // }
            }
            .Aside.active {
              visibility: visible;
            }
          }
        }

        .search-Aside {
          width: 100%;
          height: max-content;
          max-height: 25rem;
          background-color: themed("bg");
          display: flex;
          flex-direction: column;
          // align-items: center;
          border-radius: 0.5rem;
          overflow-y: auto;
          box-shadow: rgba(159, 159, 159, 0.6);
          -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.6);
          -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.6);
          &::-webkit-scrollbar {
            display: none;
          }
          @include tab {
            width: 100%;
          }
          @include web {
            width: 100%;
          }
          @include web-large {
            width: 100%;
          }
          .result-content {
            display: flex;
            align-items: center;
            gap: 5px;
            width: 100%;
            padding: 0.3rem 0.3rem;
            margin-top: 0.3rem;
            color: themed("textColor");
            background-color: themed("bg");
            font-size: 0.8rem;

            @include tab {
              font-size: 1rem;
            }
            @include web {
              font-size: 1rem;
            }
            @include web-large {
              font-size: 1rem;
            }
            img {
              width: 2.2rem;
              height: 2.2rem;
              border-radius: 50%;
              object-fit: cover;
              @include tab {
                width: 3rem;
                height: 3rem;
              }
              @include surface-Pro {
                width: 3rem;
                height: 3rem;
              }
              @include web {
                width: 3rem;
                height: 3rem;
              }
              @include web-large {
                width: 3rem;
                height: 3rem;
              }
            }
            .details {
              display: flex;
              flex-direction: column;

              p {
                font-weight: 500;
                text-transform: capitalize;
              }
            }
          }
        }
      }
      // Right buttons and Features

      .Right-buttons {
        // display: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        gap: 10px;
        padding: 0.3125rem 0;

        @include tab {
          gap: 20px;
        }
        @include web {
          gap: 20px;
        }
        @include web-large {
          gap: 20px;
        }
        div {
          display: flex;
          flex-direction: column;
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            padding: 0.3rem;
            border-radius: 0.4375rem;
            font-size: 1rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: themed("textColor");

            @include surface-duo {
              font-size: 2rem;
              width: 3rem;
            }
            @include tab {
              font-size: 2rem;
              width: 3rem;
            }
            @include web {
              font-size: 2rem;
              width: 3rem;
            }
            @include web-large {
              font-size: 2rem;
              width: 3rem;
            }
          }

          button:hover {
            background-color: rgb(187, 187, 187);
          }

          .Aside {
            display: flex;
            justify-content: flex-end;
            width: 95%;
            background-color: themed("bg");
            position: absolute;
            top: 5rem;
            right: 0%;
            left: 2.5%;
            bottom: 0%;
            border-radius: 0.5rem;
            -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
            -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
            box-shadow: rgba(159, 159, 159, 0.3);
            visibility: hidden;
          }
          .Aside.active {
            visibility: visible;
          }
        }
      }
      .user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3125rem;
        cursor: pointer;

        .Aside {
          display: flex;
          justify-content: flex-end;
          width: 95%;
          // height: max-content;
          background-color: themed("bg");
          position: absolute;
          top: 5rem;
          right: 0;
          left: 2.5%;
          bottom: 0%;
          visibility: hidden;
          -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.6);
          -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.6);
          box-shadow: rgba(159, 159, 159, 0.6);
        }
        .Aside.active {
          visibility: visible;
        }

        img {
          width: 2.2rem;
          height: 2.2rem;
          border-radius: 50%;
          object-fit: cover;

          @include tab {
            width: 3rem;
            height: 3rem;
          }
          @include surface-Pro {
            width: 3rem;
            height: 3rem;
          }
          @include web {
            width: 3rem;
            height: 3rem;
          }
          @include web-large {
            width: 3rem;
            height: 3rem;
          }
        }

        span {
          font-weight: 500;
        }
      }
    }
  }
}
